 /* Top-增改样式 */
 .container{
  margin: 0;
  padding: 0;
  

}
#header{
 /* display: flex; */
 /* justify-content: space-around;
 flex-wrap: wrap; */
}
 .top-img{
   
   width: 55%;
   height: 180px;
   margin-left:180px; 
   background-color:transparent ;
 }
 .top-ul{

   margin-left:100px; 
 }
 .top-li{
   margin: 60px 10px 10px 10px;
   color: rgb(67,67,67);
 }
 .top-li:hover,.top-li:target{
   background: rgb(248, 126, 44);
   border-radius: 8px;
   border: 0;
 }
 .top-a{
   color: rgb(67,67,67);
   font-size: 18px;
 }
 .top-a.top-li{
   margin: 0;
   color:#000;
}
.dropdown-menu{
  min-width: 0rem;
  /* background-color:transparent ; */
  border: 0;
  border-radius: 0.5rem;
}
@media (min-width: 576px) {
  .container {
    max-width: 100%;
  }
   #cp{
    left:22%;
  }
 
}

@media (min-width: 768px) {
  .container {
    max-width: 100%;
  }
  #cp{
    left:22%;
  }
 
}

@media (min-width: 992px) {
  .container {
    max-width: 100%;
  }
  #cp{
    left:23%;
  }
 
}

@media (min-width: 1200px) {
  .container {
    max-width: 100%;
  }
  #cp{
    left:19%;
  }
}
.breadcrumb{
  background-color: #fff;
 
  margin-left:128px; 
   margin-top:20px; 
  padding: 0;
}
.breadcrumb-item + .breadcrumb-item::before{
  content: "|";
}
.breadcrumb>.breadcrumb-item a{
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  color:gray;
}
.breadcrumb>.breadcrumb-item a:hover,
.breadcrumb>.breadcrumb-item a:target{
  font-size: 16px;
  color: rgb(248, 126, 44);
}
.breadcrumb>.breadcrumb-item img{
  width: 25px;
}
.breadcrumb>.breadcrumb-item img:hover{
  transform: scale(1.2, 1.2);
}
